<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/main.css" />
  <title>Books I've Read</title>
</head>

<body>
  <main>

<h1>This is a list of books I've read so far in 2025. Yay!</h1>


<div class="book-box">
    <h2><%= listTitle %></h2>
    <% for(let eachBook of listBooks){%>
        <div id="<%=eachBook.id%>">
    
        <img src="https://covers.openlibrary.org/b/isbn/<%= eachBook.isbn %>-M.jpg" alt="Book cover">

        <p class="bookHeader">"<%= eachBook.booktitle %>"</p>
            
        <p>written by <%= eachBook.authorfirstname %> <%= eachBook.authorlastname %></p>
        <br><br>
        </div>
   <% } %>
</div>
        <!-- <form class="addBook" action="/add" method="post">
            <input type="text" name="newBook" placeholder="Add a new book" autocomplete="off" autofocus="true" />
            <input type="text" name="newBookFirst" placeholder="Author's first name" autocomplete="off" autofocus="true" />
            <input type="text" name="newBookLast" placeholder="Author's last name" autocomplete="off" autofocus="true" />
            <input type="text" name="newBookisbn" placeholder="Book isbn" autocomplete="off" autofocus="true" />
            <!-- <button type="submit" name="list" value=>+</button> -->
            <!-- <button type="submit" name="list" >+</button>
        </form> -->


        <button type="submit" id="page" value="page" name="choice" onclick="window.location.href='/addABook'">Add a new book here!</button>
